body {
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0, rgba(255, 255, 255, 0.5) 40%, white 100%);
  background-repeat: no-repeat; }

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  .ball.eightball, .ball.eye {
    background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, black 100%); }
    .ball.eightball:before, .ball.eye:before {
      background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
      top: auto;
      bottom: 2.5%;
      left: 5%;
      opacity: 0.6;
      height: 100%;
      width: 90%; }
    .ball.eightball:after, .ball.eye:after {
      width: 100%;
      height: 100%;
      display: block;
      opacity: 1;
      background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
      -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
      transform: translateX(-80px) translateY(-90px) skewX(-20deg);
      -webkit-filter: blur(10px);
      filter: blur(10px); }
    .ball.eightball .eight, .ball.eye .eight {
      width: 110px;
      height: 110px;
      margin: 30%;
      background: white;
      border-radius: 100%;
      -webkit-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
      transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
      position: absolute; }
      .ball.eightball .eight:before, .ball.eye .eight:before {
        content: "8";
        font-style: normal;
        display: block;
        position: absolute;
        text-align: center;
        height: 80px;
        width: 110px;
        left: 40%;
        margin-left: -40px;
        top: 40%;
        margin-top: -40px;
        color: black;
        font-family: Arial;
        font-size: 90px;
        line-height: 104px; }
    .ball.eightball.eye, .ball.eye.eye {
      background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%); }
      .ball.eightball.eye:after, .ball.eye.eye:after {
        opacity: 0.4;
        -webkit-filter: blur(0);
        filter: blur(0); }
      .ball.eightball.eye .pupil, .ball.eye.eye .pupil {
        width: 40%;
        height: 40%;
        margin: 30%;
        border-radius: 100%;
        background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
        -webkit-transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
        transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
        position: absolute;
        -webkit-animation: move-eye-skew 5s ease-out infinite;
        animation: move-eye-skew 5s ease-out infinite; }
        .ball.eightball.eye .pupil:before, .ball.eye.eye .pupil:before {
          content: "";
          display: block;
          position: absolute;
          width: 37.5%;
          height: 37.5%;
          border-radius: 100%;
          top: 31.25%;
          left: 31.25%;
          background: black; }
        .ball.eightball.eye .pupil:after, .ball.eye.eye .pupil:after {
          content: "";
          display: block;
          position: absolute;
          width: 31.25%;
          height: 31.25%;
          border-radius: 100%;
          top: 18.75%;
          left: 18.75%;
          background: rgba(255, 255, 255, 0.2); }
        .ball.eightball.eye .pupil.threed, .ball.eye.eye .pupil.threed {
          -webkit-transform-origin: 50%, 50%, -150px;
          transform-origin: 50%, 50%, -150px;
          -webkit-transform: translateZ(150px) rotateX(30deg) rotateY(20deg);
          transform: translateZ(150px) rotateX(30deg) rotateY(20deg);
          -webkit-animation: move-eye 5s ease-out infinite;
          animation: move-eye 5s ease-out infinite; }
  .ball.tennis {
    background: url(../images/tennisball.png) no-repeat;
    background-size: 100%; }
    .ball.tennis:after {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(circle at 50% 30%, rgba(245, 237, 48, 0), rgba(200, 190, 20, 0.2) 50%, #575300 100%); }
  .ball.globe {
    background: url(../images/world-map-one-color.png) repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 30s infinite linear;
    animation: move-map 30s infinite linear; }
    .ball.globe:before {
      z-index: 3; }
    .ball.globe:after {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 0.3;
      background: radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%); }
    .ball.globe .shadow {
      background: radial-gradient(50% 50%, circle cover, rgba(50, 90, 90, 0.2), rgba(50, 90, 90, 0.1) 40%, rgba(50, 90, 90, 0) 50%); }

@-webkit-keyframes move-map {
  0% {
    background-position: -567px 0; }

  100% {
    background-position: 0 0; } }

@keyframes move-map {
  0% {
    background-position: -567px 0; }

  100% {
    background-position: 0 0; } }

@-webkit-keyframes move-eye {
  0% {
    -webkit-transform: translateZ(100px) rotateX(10deg) rotateY(2deg);
    transform: translateZ(100px) rotateX(10deg) rotateY(2deg); }

  10%, 12% {
    -webkit-transform: translateZ(100px) rotateX(27deg) rotateY(37deg);
    transform: translateZ(100px) rotateX(27deg) rotateY(37deg); }

  25%, 27% {
    -webkit-transform: translateZ(100px) rotateX(40deg) rotateY(5deg);
    transform: translateZ(100px) rotateX(40deg) rotateY(5deg); }

  35%, 50% {
    -webkit-transform: translateZ(100px) rotateX(18deg) rotateY(0deg);
    transform: translateZ(100px) rotateX(18deg) rotateY(0deg); }

  61%, 70% {
    -webkit-transform: translateZ(100px) rotateX(-10deg) rotateY(-41deg);
    transform: translateZ(100px) rotateX(-10deg) rotateY(-41deg); }

  80% {
    -webkit-transform: translateZ(100px) rotateX(23deg) rotateY(-10deg);
    transform: translateZ(100px) rotateX(23deg) rotateY(-10deg); }

  100% {
    -webkit-transform: translateZ(100px) rotateX(10deg) rotateY(2deg);
    transform: translateZ(100px) rotateX(10deg) rotateY(2deg); } }

@keyframes move-eye {
  0% {
    -webkit-transform: translateZ(100px) rotateX(10deg) rotateY(2deg);
    transform: translateZ(100px) rotateX(10deg) rotateY(2deg); }

  10%, 12% {
    -webkit-transform: translateZ(100px) rotateX(27deg) rotateY(37deg);
    transform: translateZ(100px) rotateX(27deg) rotateY(37deg); }

  25%, 27% {
    -webkit-transform: translateZ(100px) rotateX(40deg) rotateY(5deg);
    transform: translateZ(100px) rotateX(40deg) rotateY(5deg); }

  35%, 50% {
    -webkit-transform: translateZ(100px) rotateX(18deg) rotateY(0deg);
    transform: translateZ(100px) rotateX(18deg) rotateY(0deg); }

  61%, 70% {
    -webkit-transform: translateZ(100px) rotateX(-10deg) rotateY(-41deg);
    transform: translateZ(100px) rotateX(-10deg) rotateY(-41deg); }

  80% {
    -webkit-transform: translateZ(100px) rotateX(23deg) rotateY(-10deg);
    transform: translateZ(100px) rotateX(23deg) rotateY(-10deg); }

  100% {
    -webkit-transform: translateZ(100px) rotateX(10deg) rotateY(2deg);
    transform: translateZ(100px) rotateX(10deg) rotateY(2deg); } }

@-webkit-keyframes move-eye-skew {
  0% {
    -webkit-transform: none;
    transform: none; }

  20% {
    -webkit-transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95); }

  25%, 44% {
    -webkit-transform: none;
    transform: none; }

  50%, 60% {
    -webkit-transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95); }

  66%, 100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes move-eye-skew {
  0% {
    -webkit-transform: none;
    transform: none; }

  20% {
    -webkit-transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95); }

  25%, 44% {
    -webkit-transform: none;
    transform: none; }

  50%, 60% {
    -webkit-transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95); }

  66%, 100% {
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
